body{
    background-color: rgb(76, 143, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    font: bold 13pt Verdana;
    color: white;
    text-align: center;
}
header:hover{
    transform: scale(0.97);
}
input[type="radio"]{
    accent-color: rgb(57, 121, 204);
    cursor: pointer;
}
section{
    margin-top: 30px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 30px;
    height: 20%;
    width: 47%;
}
input{
    margin-top: 10px;
    border-radius: 20px;
    border-color: transparent;
    background-color: rgb(210, 241, 255);
    height: 30%;
    text-align: center;
}
#btn{
    background-color: rgb(57, 121, 204);
    color: white;
    font-size: medium;
    border-radius: 30px;
    border-color: transparent;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#btn:hover{
    transform: scale(1.05);
    background-color: rgb(32, 81, 145);
}
#res:hover{
    transform: scale(0.97);

}
footer{
    margin-top: 20px;
    text-align: center;
    color: white;
}
footer:hover{
    transform: scale(0.97);
}